.servicesHeading {
    text-align: center;
    margin-top: 3rem;
  }

  .servicesHeading h2 {
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .servicesHeading p {
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 300;
  }