.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
  max-width: 380px;
  @media (min-width: 992px) {
    width: 50%;
  }
  @media (min-width: 1400px) {
    width: 33.3333%;
  }
}
.container:hover {
  .image {
    filter: contrast(100%);
  }
}
.imageContainer {
  /* height: 240px;
  width: 100%; */
}
.image {
  height: auto;
  width: 100%;
  vertical-align: middle;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  filter: contrast(70%);
}

.content {
  padding-top: 32px;
}

.title {
  /* margin-bottom: 10px; */
}

.desc {
  font-size: 18px;
  color: #999;
}
