.container {
}

.title {
  font-size: 60px;
  margin-bottom: 100px;
  text-align: center;
  @media (max-width: 576px) {
    text-align: start;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.image {
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

.submitBtn {
  padding: 1.5em;
  font-size: 1rem;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 1rem;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 3px solid #bbb;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.option {
  color: black;
}
